<ion-view view-title="FriendHome">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-more" ng-click="report(clickedFriendName,clickedFriendId)" style="color:#ffffff"></a>
  </ion-nav-buttons>

        <a class="item item-avatar card-fixed" ng-click="defaultWanna()" >
        <img data-ng-src={{friendImages[clickedFriendId]}}>
        {{clickedFriendName}}
        <p> all Wannas List </p>
        </a>

      <div class="button-bar button-fixed">
        <a class="button button-fixed-in" ng-click="defaultWanna()" ><i class="icon ion-navicon-round"></i></a>
        <a class="button button-fixed-in" ng-click="showCompletes()" ><i class="icon ion-ios-star"></i></a>
        <a class="button button-fixed-in" ng-click="showFriends()" ><i class="icon ion-person-stalker"></i></a>
        <a class="button button-fixed-in" ng-click="messagePopup()" ><i class="icon ion-paper-airplane"></i></a>
      </div>

  <ion-content class="content-fixed">

    <!--wannaの表示用-->
    <ion-list id="wannaList" style="display:block">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="wanna in showingWannasList" type="item-text-wrap" >
        <i class = {{wanna.icon[0]}} style=" color:{{wanna.color}};"></i>
        <h2 ng-Click="goContentPage(wanna)">{{wanna.content}}</h2>
        <p ng-Click="goContentPage(wanna)">{{wanna.description}}</p>
        <!--<ion-option-button class="button-assertive" ng-click="removeWanna($index , wanna.ownerId, wanna.$id)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
          <div class="complete" ng-style="completeToggle(wanna.complete)">
              <i class="icon ion-ribbon-b"></i>
          </div>
      </ion-item>
    </ion-list>

    <ion-list id="friendList" style="display:none">
      <ion-item class="item item-button-right vartical-aline" ng-repeat="profile in profiles" ng-init="referImage(profile)">

          <img data-ng-src={{recommendedImages[profile.$id]}} style="height:40px ; width:40px; border-radius: 200px ">
          {{profile.name}}
          <!--{{profile.uid}}-->
          <button class="button button-calm" ng-click = "followOrSendMessage(profile)" ng-style="profile.disp" style="top:20px;">
            <i class="{{profile.icon}}"></i>
          </button>

      </ion-item>
      <button id="moreButton" class="button button-block button-stable" ng-click = "moreFriend()">
        Watch More
      </button>
    </ion-list>


  </ion-content>
</ion-view>
