<ion-view view-title="Members">
    <ion-content class="padding">
        <div class="item item-divider">
            Members
        </div>
        <p>{{allFriendsList}}</p>
        <ion item class="list card" ng-repeat="friend in allFriendslist" ng-init="referImage2(friend.$id)">
            <div class="item item-button-right">
                <p ng-Click="goFriendHomePage(friend)">
                    <img data-ng-src={{friendImages[friend.$id]}} style="height:40px ; width:40px; border-radius: 200px">
                    {{friend.name}}
                </p>
            </div>
        </ion>
    </ion-content>
</ion-view>
