<ion-view view-title="Submit">
    <ion-content class="padding">
        <br>
        <br>
        <br>
        <br>
        <br>
        <form ng-submit="wannaSubmit(wanna)">
            <label class="item item-input">
                <input type="text" ng-model="wanna.content" placeholder="What do you want to do?">
            </label>
            <br>
            <label class="item item-input">
                <textarea placeholder="Comments" ng-model="wanna.description" placeholder="Comments"></textarea>
            </label>
            <div class="row">
                <div class="col col-20">
                    <div align="center">
                        <button id="b1" type="button" class="button {{iconNames[0]}}" ng-click="buttonColors(0)" ng-style="buttonStyle(iconNames[0])"></button>
                    </div>
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b2" type="button" class="button {{iconNames[1]}}" ng-click="buttonColors(1)" ng-style="buttonStyle(iconNames[1])"></button>
                    </div>
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b3" type="button" class="button {{iconNames[2]}}" ng-click="buttonColors(2)" ng-style="buttonStyle(iconNames[2])"></button>
                    </div>
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b4" type="button" class="button {{iconNames[3]}}" ng-click="buttonColors(3)" ng-style="buttonStyle(iconNames[3])"></button>
                    </div>
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b5" type="button" class="button {{iconNames[4]}}" ng-click="buttonColors(4)" ng-style="buttonStyle(iconNames[4])"></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-10">
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b6" type="button" class="button {{iconNames[5]}}" ng-click="buttonColors(5)" ng-style="buttonStyle(iconNames[5])"></button>
                    </div>
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b7" type="button" class="button {{iconNames[6]}}" ng-click="buttonColors(6)" ng-style="buttonStyle(iconNames[6])"></button>
                    </div>
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b8" type="button" class="button {{iconNames[7]}}" ng-click="buttonColors(7)" ng-style="buttonStyle(iconNames[7])"></button>
                    </div>
                </div>
                <div class="col col-20">
                    <div align="center">
                        <button id="b9" type="button" class="button {{iconNames[8]}}" ng-click="buttonColors(8)"></button>
                    </div>
                </div>
            </div>

            <!--type="buttonを上記に入れたら、アイコンでsubmitされてしまう現象を回避できた-->
            <br>
            <br>

            <div class="row">
                <button id="submitButton" type = "submit" class="button button-full button-calm" ng-click="wannaSubmit()">
                    iWanna
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col col-80 col-offset-10">
                <div align="center">
                    <div class="item range range-stable" id="motBar" style="border:none">
                        <i class="ion-flame" style="font-size: 25px; color:#afeeee;"></i>
                        <input type="range" name="volume" min="0" max="100" ng-model="motivation" ng-change="changeSlider(motivation)">
                        <i class="ion-flame" style="font-size: 40px; color:#F60;"></i>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
