<ion-view view-title="Timeline">
    <ion-content class="padding">


        <button ng-click="writeWanna()" class="button button-full icon big ion-compose button-calm ">
            iWanna...
        </button>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search big placeholder-icon"></i>
                <input ng-change = "searchWannas(tipsToFind)" ng-model="tipsToFind" placeholder="Search">
            </label>
        </div>

        <div class="list" ng-repeat="wanna in wannas()" ng-init="myFunction(wanna)">
            <div class="wannatest">
                <div class="uimgtest">
                    <img style="height:100% ; width:100%;" data-ng-src={{friendImages[wanna.ownerId]}}>
                </div>
                <div class="wannanametest" type="button" href="#" ng-Click="goContentPage(wanna)">
                    {{wanna.content}}
                </div>
                <div class="unametest">
                    {{wanna.user_name}}
                </div>
                <div class="janreimgtest">
                    <i class={{wanna.icon[0]}} style=" color:{{wanna.color}}; background-color: #ffffff; font-size: 33px; " ></i>
                </div>
                <div class="dateboxtest">
                    {{date(wanna.upload_time)}}
                </div>
                <div class="liketest">
                    <button id={{wanna.$id}} style=" background-color: #ffffff; width : 50px;" type="button" class="button icon ion-heart" ng-init="colorTheLikes(wanna)" ng-Click="likeWanna(wanna)"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
