<ion-view view-title="Account">
	<ion-content class = "padding">

        <div class="list">
            <div class="item item-divider">
                User Information
            </div>
            <a class="item item-icon-left" href="#">
            <i class="icon ion-person"></i>
            {{accountInformation.name}}
          </a>
           <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            {{accountInformation.email}}
          </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="{{images[0].images}}" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>
              <h2>Please select your picture</h2>
              <div class="row">
                  <div class="col col-30">
                      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" width="50" height="50">
                  </div>
                  <div class="col col-40">
                      <button class="button button-calm" ng-click="uploadPic(picFile)">Change</button>
                  </div>
                  <div class="col">
                    <button class="button button-dark" ng-click="image_remove()">Delete</button>
                  </div>
              </div>
            </a>

        </div>

    <button class="button button-block button-stable" ng-click="logout()" style="font-size: 30px;">Logout</button>

        <button class="button button-block button-balanced" ng-click="aboutUTH()">About UT-Hackathon</button>

    </ion-content>
</ion-view>
