<ion-view view-title="My List">


        <a class="item item-avatar card-fixed">
          <img data-ng-src={{friendImages[currentUid]}}>
          {{accountInformation.name}}
          <p> All iW List </p>
        </a>

      <div class="button-bar button-fixed">
        <a class="button button-fixed-in" id="listButton" ng-click="defaultWanna()" style="color:{{colorList}}"><i class="icon ion-navicon-round"></i></a>
        <a class="button button-fixed-in" id="starButton" ng-click="showCompletes()" style="color:{{colorStar}}" ><i class="icon ion-ios-star"></i></a>
        <a class="button button-fixed-in" id="heartButton" ng-click="showLikes()" style="color:{{colorHeart}}"><i class="icon icon ion-heart"></i></a>
      </div>

  <ion-content class="content-fixed">
    <ion-refresher
            on-refresh="doReload()"
            pulling-text="Pull to reload..."
            refreshing-text="Reloading"
            spinner="spiral">
    </ion-refresher>


    <!--<div class="item item-divider">-->
      <!--My iWs-->
    <!--</div>-->
    <ion-list id="myWannas" style="display:block">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="wanna in showingWannasList" type="item-text-wrap" >
        <i class = {{wanna.icon[0]}} style=" color:{{wanna.color}};" ng-Click="goContentPage(wanna)" on-hold="alertComplete(wanna)"></i>
        <h2 ng-Click="goContentPage(wanna)">{{wanna.content}}</h2>
        <p ng-Click="goContentPage(wanna)">{{wanna.description}}</p>
        <ion-option-button class="button-assertive" ng-click="removeWanna($index , wanna.ownerId, wanna.$id,wanna.likes)">
          Delete
        </ion-option-button>
        <div class="complete" ng-style="completeToggle(wanna.complete)">
          <i class="icon ion-ribbon-b"></i>
        </div>
      </ion-item>
    </ion-list>

    <ion-list id="myLikes" style="display:none">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="wanna in allLikeList" type="item-text-wrap" >
        <i class = {{wanna.icon[0]}} style=" color:{{wanna.color}};" ng-Click="goContentPage(wanna)"></i>
        <h2 ng-Click="goContentPage(wanna)">{{wanna.content}}</h2>
        <p ng-Click="goContentPage(wanna)">{{wanna.user_name}}</p>
        <ion-option-button class="button" style="background-color:rgb(255, 192, 203);color: #FFFFFF;" ng-click="removeLikeInHome( $index,wanna.ownerId, wanna.$id)">
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>


    <div class="list">

      <button class="button button-block  icon-left ion-social-twitter button-calm" style="background-color:#00aced;" ng-click = "twitterShare()">Twitterで"iWannaリスト"をシェア
      </button>

      <button class="button button-block  icon-left ion-social-facebook button-calm" style="background-color:#305097;" ng-click = "facebookShare()">Facebookで"iWannaリスト"をシェア
      </button>

    </div>

  </ion-content>
</ion-view>