<ion-view view-title="Home">
	<ion-content>
        <div class="card">
            <div class="item item-avatar">
                <img src="{{images[0].images}}" alt="" width="50" height="50"/>
                <h2>{{accountInformation.name}}</h2>
            </div>
        </div>

        <div>
            <h1>Image Upload</h1>
            <body ng-app="fileUpload" >
                <form name="myForm">
                  <fieldset>
                    <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>
                    <br>
                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" width="100" height="100">
                    <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                    <br>
                    <button class="button button-calm" ng-click="uploadPic(picFile)">Submit</button>
                    <span ng-show="picFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    <button class="button button-dark" ng-click="image_all_remove()">All Delete</button>
                    </fieldset>
                    <br>
                    <ul>
                        <img src="{{images[0].images}}" alt="" width="100" height="100"/>
                    </ul>
                </form>
            </body>
        </div>

	    <div>
            <h1>Wannas List</h1>
	        <div class="list card">
 				<a href="#" class="item item-icon-left"  ng-repeat="wanna in allWannasList">
    				<i class={{wanna.icon[0]}}></i>
    				{{wanna.content}}
  				</a>
  			</div>
			<!-- <ion item class="list card" ng-repeat="wanna in allWannasList">
				<div class="list">
      			{{wanna.content}}
      			</div>
    		</ion-item> -->
		</div>
	    </div>
  <!--   <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list> -->
	<div class="list">

		<button class="button button-block  icon-left ion-social-twitter button-calm" ng-click = "twitterShare()">Twitterで"iWannaリスト"をシェア
		</button>

		<button class="button button-block  icon-left ion-social-facebook button-calm" ng-click = "facebookShare()">Facebookで"iWannaリスト"をシェア
		</button>

	</div>

  </ion-content>
</ion-view>