<ion-view view-title="Account">
	<ion-content class = "padding">
		<div class="list">

		  <div class="item item-divider">
		    User Information
		  </div>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-person"></i>
		    {{accountInformation.name}}
		  </a>
		   <a class="item item-icon-left" href="#">
		    <i class="icon ion-email"></i>
		    {{accountInformation.email}}
		  </a>
		 </div>
  <!--   <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list> -->

    <button class="button button-block button-stable" ng-click="logout()">Logout</button>

            <div>
            <h1>Image Upload</h1>
            <body ng-app="fileUpload" >
                <form name="myForm">
                  <fieldset>
                    <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>
                    <br>
                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" width="100" height="100">
                    <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                    <br>
                    <button class="button button-calm" ng-click="uploadPic(picFile)">Submit</button>
                    <span ng-show="picFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    <button class="button button-dark" ng-click="image_remove()">All Delete</button>
                    </fieldset>
                    <br>
                    <ul>
                        <img src="{{images[0].images}}" alt="" width="100" height="100"/>
                    </ul>
                </form>
            </body>
        </div>
  </ion-content>
</ion-view>
