<ion-view view-title="iWanna List">
	<ion-content>
		<a class="button icon-left ion-chevron-left button-clear button-calm" ng-click = "backToHome()"></a>

			<button class="button icon-left ion-social-twitter button-calm" ng-click = "screenShotShareViaTwitter()">
			</button>
		<!-- <div>
		<ion item class="list card" ng-repeat="wanna in allWannasList">
			<div class="list">
      		{{wanna.content}}
      		</div>
    	</ion-item>
		</div>
 -->
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="wanna in allWannasList" type="item-text-wrap" >
        <i class = {{wanna.icon[0]}} style=" color:{{wanna.color}};" ng-Click="goContentPage(wanna)" on-hold="alertComplete(wanna)"></i>
        <h2>{{wanna.content}}</h2>
        <p>{{wanna.description}}</p>
      </ion-item>
    </ion-list>

		
  	</ion-content>
</ion-view>