<ion-view view-title="Dashboard">
  <ion-content class="padding">

      <div class="wannacontent">
        <div class="uimgtest">
          <img src="http://pictogram-free.com/material/001.png" width="40" height="40" >
        </div>
        <div class="wannanametest" " type="button" href="#" ng-Click="goContentPage(clickedWanna)">
        {{clickedWanna.content}}
        </div>
        <div class="unametest">
        {{clickedWanna.user_name}}
        </div>
        <div class="janreimgtest">
          <i class={{clickedWanna.icon[0]}} style=" background-color: #ffffff; font-size: 33px; " ></i>
        </div>
        <div class="dateboxtest">
        {{date(clickedWanna.upload_time)}}
        </div>
        <div class="liketest">
          <button id={{clickedWanna.$id}} style=" background-color: #ffffff; width : 50px;" type="button" class="button icon ion-heart" ng-init="colorTheLikes(clickedWanna)" ng-Click="likeWanna(clickedWanna)"></button>
        </div>
        <div class="description">
          {{clickedWanna.description}}
        </div>

        <div class="likenum">
          <a href="#" class="subdued">{{likeNum}} Likes</a>
        </div>
    </div>

<!--
      <div class="item item-avatar">
        <img src={{clickedWanna.icon[0]}}>
        <h2>{{clickedWanna.content}}</h2>
        <p>{{clickedWanna.user_name}}</p>
      </div>

      <div class="item item-body">
        <p>
            {{clickedWanna.description}}
        </p>

        <p>
          <a href="#" class="subdued">{{likeNum}} Likes</a>
        </p>     </div>
        -->
  </ion-content>
</ion-view>
